html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	color:#4f4f4f;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}
html{
    font-size:62.5%;
}
body { 
    font-size:1.6rem;
    line-height:1.5;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
  /*put a border around everything to see where it stops and starts*/
    /* border:1px solid grey; */
	/* background-color:#b1bfc8; */
}

/*main content*/

.space1 {
	height: 40vh;
}

nav{
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width:fit-content;
	margin-left: 32%;
	padding: 1.5%;
	background-color:rgb(213,197,174, .3);
}

h1 {
	font-size: 6rem;
	font-family: 'Satisfy', cursive;
	color:rgb(213,197,174,.7);
	letter-spacing: 3px;
	/* margin-left: 80%; */
}

.about, .contact, .projects{
	padding:0.5%;
	margin:1%;
	text-align: center;
	align-self: flex-start;
	/* background-color:rgb(165,182,191,.5); */
	color:rgb(213,197,174,.6);
	width: 60%;
	letter-spacing:3px;
	border-radius:10px;
	transition: 1.6s;
}

.about:hover, .contact:hover, .projects:hover{
	background-color: rgb(213,197,174,.6);
	color:rgb(100,104,109,1);
}


/* .intro{
	text-align: center;
	margin:auto;
	background-color: rgb(165,182,191,.3);
    color: #fff;
	border-radius: 10px;
	width:35%;
	padding:1%;
} */

.mainimg{
    background-image:url(Images/Flower.jpg);
    background-size:cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:top;
	width: auto;
}

.space{
	height:35vh;
}


/* .aboutme{
	padding:1%;
	text-align: center;
	background-color: rgb(213,197,174,.3);
    color: #fff;
	border-radius: 10px;
	width:70%;
	margin:auto;
} */

.images{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding:2% 10%;
}

.img1, .img2, .img3, .img4, .img5, .img6{
	width:30%;
	padding: 1.5% 0;
}

.contactf {
	display:flex;
	justify-content: center;
	padding:0.5% 1%;
	margin:1%;
	text-align: center;
	background-color:rgb(156,114,38, .3);
	color:rgb(213,197,174,1);
	text-decoration:none;
	letter-spacing:3px;
	border-radius:10px;
	transition: 2s;
	width:7%;
}

.contactf:hover{
	background-color: rgb(213,197,174,.6);
	color:rgb(100,104,109,1);
}

footer{
	display:flex;
	justify-content: center;
	align-items: center;
	padding:0.5%;
	width:100%;
	background-color: rgb(156,114,38, .5);
}

/* image flip */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.load-container {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #e0b289;
  pointer-events: none;
}

.anim-bloc {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  z-index: 100;
}
.bloc-txt {
  background: white;
  position: absolute;
  bottom: -50px;
  left: -50px;
  height: 0;
  z-index: 175;
  overflow: hidden;
}

.bloc-txt h2 {
  padding: 10px 30px;
  color: #222;
  font-family: Playfair Display, serif;
  font-size: 40px;
  text-transform: uppercase;
  transform: translateY(100px);
}

.images-container {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 150;
  overflow: hidden;
}

.img-flip {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  position: absolute;
}

.flip-img1 {
  background-image: url(ressources/image3.png);
}
.flip-img2 {
  background-image: url(ressources/image1.jpg);
}

.flip {
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: absolute;
}

.f2 {
  background: #9b1339;
}


/* MEDIA @800 */
/* @media(max-width:800px){


	h1, h2 {
		display: flex;
		justify-content: center;
	}
	.mainimg{
		display:flex;
		width: 100%;
		height: 30vh;
	}
	
	.bottom{
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.bottom img{
		margin:4%;
	}
	
	.bottomright{
		width:53%;
		align-items: center;
	}
	footer{
		height:7vh;
	}
	} */
	
	

/* MEDIA @500 */

/* @media(max-width:500px){


h1, h2 {
	display: flex;
	justify-content: center;
}

nav {
	flex-direction: column;
	align-items: center;
}
.about, .contact, .projects{
	width:15%;
	margin-bottom: 1%;
	padding:2%;
}
h2{
	margin:4% 0;
	font-size: 4rem;
}
.intro{
	padding:0 4%;
}
.mainimg{
	display:flex;
	width: 100%;
	height: 20vh;
}

.bottom{
	flex-wrap: wrap;
	justify-content: center;
}

.bottom img{
	margin:8% 4% 0;
}

.bottomright{
	width:100%;
}
footer{
	height:7vh;
}
} */

