html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	color:#4f4f4f;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}
html{
    font-size:62.5%;
}
body { 
    font-size:1.6rem;
    line-height:1.5;
    font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	overscroll-behavior: none;

	background-image: url(assets/Images/Flower.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:top;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
  /*put a border around everything to see where it stops and starts*/
    /* border:1px solid grey; */
}

/*main content*/

header {
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.name {
	margin-top: 15%;
	margin-bottom: 10%;
	padding: 2% 4%;
	border-radius:5px;
	background-color:rgb(213,197,174, .3);
}

h1 {
	display: flex;
	text-align: center;
	color:rgb(213,197,174);
	text-align: center;
	letter-spacing: 3px;
	font-size: 120px;
	text-transform: uppercase;
}

nav {
	display: flex;
	align-self: flex-end;
	background-color: none;
	width: 16%;
	height: auto;
	margin: 2%;
	position: fixed;
}

.icons {
	justify-content: center;
	padding: 2%;
	background: none;
	font-size: 70px;
	border: none;
	color: white;
	cursor: pointer;
	opacity: 0.95;
	
}
.icons:hover {
	opacity: 1;
	background-color: rgb(237, 237, 237);
	color:rgba(220, 214, 191);
	border-radius: 10px;

}

.contact:hover{
	background-color: rgb(222, 209, 191);
	color:rgb(204, 192, 143);
}

.aboutme {
	padding:3%;
	text-align: center;
	background-color: rgb(213,197,174,.3);
    color: #fff;
	font-size: 2.5rem;
	width:60%;
	margin:auto;
	margin-bottom: 20%;
	border-radius:3px;
	visibility: hidden;
}

/* .images{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding:2% 10%;
} */

/* .img1, .img2, .img3, .img4, .img5, .img6{
	width:30%;
	padding: 1.5% 0;
} */

.contactf {
	padding:0.5% 1%;
	margin:2%;
	text-align: center;
	background-color:rgb(156,114,38, .3);
	color:rgb(213,197,174,1);
	letter-spacing:3px;
	border-radius:3px;
	font-size: 25px;
}

.contactf:hover{
	background-color: rgb(213,197,174,.6);
	color:rgb(100,104,109,1);
}

footer {
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top:0.5%;
	width:100%;
	background-color: rgb(156,114,38, .5);
}

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 700px;
	margin-bottom: 50%;
	padding: 0 5%;
}

.box {
	text-align: center;
	margin-top: 10%;
	margin: 5%;
	padding: 5%;
	width: 34%;
	height: 100%;
	background-image: url(assets/Images/Flower.jpg);
	background-size: cover;
}

/* image flip */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.load-container {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color:rgb(213,197,174, 0.9);
  pointer-events: none;
  display: flex;
}

.anim-bloc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 400px;
  z-index: 100;
}
/* .bloc-txt {
  background: white;
  background-color:rgb(213,197,174, 0.9);
  position: absolute;
  bottom: -50px;
  left: -50px;
  height: 0;
  z-index: 175;
  overflow: hidden;
}

.bloc-txt h2 {
  padding: 10px 30px;
  text-transform: uppercase;
  transform: translateY(100px);

  font-size: 6rem;
  font-family: 'Satisfy', cursive;
  color:rgb(213,197,174);
  letter-spacing: 3px;
} */

.images-container {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 150;
  overflow: hidden;
}

.img-flip {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  position: absolute;
}

.flip-img1 {
	background-image: url(assets/Images/Cliffs.jpg);
}
.flip-img2 {
	background-image: url(assets/Images/PortAngeles.jpg);
}

.flip {
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: absolute;
}

.f2 {
	background-color:rgb(213,197,174, 0.95);
}


/* MEDIA @800 */
/* @media(max-width:800px){


	h1, h2 {
		display: flex;
		justify-content: center;
	}
	.mainimg{
		display:flex;
		width: 100%;
		height: 30vh;
	}
	
	.bottom{
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.bottom img{
		margin:4%;
	}
	
	.bottomright{
		width:53%;
		align-items: center;
	}
	footer{
		height:7vh;
	}
	} */
	
	

/* MEDIA @500 */

/* @media(max-width:500px){


h1, h2 {
	display: flex;
	justify-content: center;
}

nav {
	flex-direction: column;
	align-items: center;
}
.about, .contact, .projects{
	width:15%;
	margin-bottom: 1%;
	padding:2%;
}
h2{
	margin:4% 0;
	font-size: 4rem;
}
.intro{
	padding:0 4%;
}
.mainimg{
	display:flex;
	width: 100%;
	height: 20vh;
}

.bottom{
	flex-wrap: wrap;
	justify-content: center;
}

.bottom img{
	margin:8% 4% 0;
}

.bottomright{
	width:100%;
}
footer{
	height:7vh;
}
} */

